.navbar {
  height: 55px;
  background-color: hsl(216, 89%, 17%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  height: 40px;
}

.nav-logo img {
  height: 100%;
}

.nav-shop-link {
  font-size: 1.2em;
  color: var(--white);
}

.nav-cart-icon {
  position: relative;
  height: 24px;
}

.nav-cart-icon svg {
  fill: var(--white);
}

#items-number {
  position: absolute;
  color: var(--white);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-45%);
}
